{% load static %}
{% include "AdminLTE/header.html" with username=info.tname home_index='teacher' %}


      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- 签到按钮 -->
        <li class="nav-item">
          <a class="nav-link" href={%url 'publish_sign' %}>
            <i class="far fa-bell"></i>
          </a>
        </li>
        <!-- 主题配色 -->
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link">
        <img src="{%static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">签到系统 | 教师端</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  选项
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href={%url 'teacher' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>主页</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={%url 'teacher_course' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>授课信息</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={%url 'publish_sign' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>发布签到</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={%url 'signed_info' %} class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>签到总览</p>
                  </a>
                </li>
                {% if info.tauth == 'admin' %}
                <li class="nav-item">
                  <a href={%url 'super' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>课程管理</p>
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
            <li class="nav-header">颜色标识</li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">已过期</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-warning"></i>
                <p>即将到来</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-success"></i>
                <p>已完成</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>信息</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle"></i>
                <p>将来</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">签到情况</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">主页</a></li>
                <li class="breadcrumb-item active">签到情况</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Main row -->
          <div class="row">
            <div class="col-12">

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">签到信息表</h3>
                </div>
                <!-- /.card-header -->
                      <form method="get" action="." target="_blank">
                <div class="card-body">
                  <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <form method="get" action="." target="_blank" id="form_ps">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                              <ul class="pagination">
                                {{ page_obj.page_html | safe }}
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-2"></div>
                        
                      </div>
                    </form>
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                      <thead>
                        <tr>
                          <th>课程名称</th>
                          <th>签到人数</th>
                          <th>二维码</th>
                          <th>详情</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for sig in signed %}
                        <tr>
                          <td>{{ sig.cid__cname }}</td>
                          <td style="width: 6em">{{ sig.signed_num }} / {{ sig.allsign_num }}</td>
                          <td style="width: 75px; font-size:45px; text-align:center">
                            <a href="http://{{ host }}/qrcode/{{sig.id}}.png" data-toggle="lightbox" data-title="签到二维码">
                              <img class="img-fluid mb-2" src="http://{{ host }}/qrcode/{{sig.id}}.png" >
                            </a>
                          </td>
                          <td style="width: 8em"><a href={%url 'signed_info_detail' sig.id %}><button type="button" class="btn btn-block btn-success">查看详情</button></a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>课程名称</th>
                          <th>签到人数</th>
                          <th>二维码</th>
                          <th>详情</th>
                        </tr>
                      </tfoot>
                    </table>

                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">共{{ counts }}条签到信息, 现在在第{{ current_page }}页</div>
                      </div>
                      <div class="col-sm-12 col-md-3">
                        <!-- <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">共{{ counts }}条签到信息</div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </form>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>数据库实践课小项目
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 0.0.1
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="{%static "plugins/jquery/jquery.min.js" %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{%static "plugins/jquery-ui/jquery-ui.min.js" %}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
    
    $(function () {
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox({
          alwaysShowClose: true,
        });
      });
    })
  </script>
  {% include "AdminLTE/footer.html" %}
  <script>
    $(document).ready(function() {
      $("#sea_btn").click(function() {
        $(this).ajaxSubmit({
          type: "get",
          url: "/signed_info/",
          data: {
            'search': {{search}},
            'page': {{current_page}}
          },
          success: function(data) {

            console.log("ok");
          }
        })
      });
      $("#cle_btn").click(function() {
        $("#search").val("");
        $(this).ajaxSubmit({
          type: "get",
          url: "/signed_info/",
          data: {
            'search': '',
            'page': {{current_page}}
          },
          success: function(data) {

            console.log("ok");
          }
        })
      });
    });
  </script>
</body>

</html>
