{% load static %}
{% include "AdminLTE/header.html" with username=info.tname home_index='teacher' %}

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href={%url 'teacher' %} class="brand-link">
        <img src="{%static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">签到系统 | 教师端</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  选项
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href={%url 'teacher' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>主页</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={%url 'teacher_course' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>授课信息</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={%url 'publish_sign' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>发布签到</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={%url 'signed_info' %} class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>签到总览</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href={%url 'super' %} class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>课程管理</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-header">颜色标识</li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">已过期</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-warning"></i>
                <p>即将到来</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-success"></i>
                <p>已完成</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>信息</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle"></i>
                <p>将来</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">课程管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">主页</li>
                <li class="breadcrumb-item active"><a href="#">课程管理</a></li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- /.row -->
          <!-- Main row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">添加课程安排</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>课程</th>
                        <th>教室</th>
                        <th>上课日期</th>
                        <th>上课时间</th>
                        <th style="width: 75px">添加</th>
                      </tr>
                    </thead>
                    <form action={%url 'add_course' %} method="post">
                    {% csrf_token %}
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-group">
                            <select class="custom-select" name="course">
                              <option value=""></option>
                              {% for course in courses %}
                              <option value="{{course.cid}}">{{course.cname}}[{{course.cid}}]</option>
                              {% endfor %}
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <select class="custom-select" name="room">
                              <option value=""></option>
                              {% for classroom in classrooms %}
                              <option value="{{classroom.rid}}">{{classroom.rloc}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <select class="custom-select" name="day">
                              <option value=""></option>
                              {% for i in times %}
                              <option value="{{forloop.counter}}">{{i}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <select class="custom-select" name="time">
                              <option value=""></option>
                              {% for i in clocks %}
                              <option value="{{forloop.counter}}">{{i}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </td>
                        <td>
                          <a href="{% url 'add_course' %}"><input type="submit" value="添加" class="btn btn-block btn-outline-success"/></a>
                        </td>
                      </tr>
                    </tbody>
                  </form>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.row (main row) -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">编辑课程安排</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>课程</th>
                        <th>教室</th>
                        <th>教师</th>
                        <th>上课日期</th>
                        <th>上课时间</th>
                        <th style="width: 75px">编辑</th>
                      </tr>
                    </thead>
                    <tbody id="infos" name="infos">
                      {% for coc in courses_on_class %}
                      <tr>
                        <td>{{coc.cid__cname}}[{{coc.cid__cid}}]</td>
                        <td>{{coc.rid__rloc}}</td>
                        <td>{{coc.cid__tid__tname}}[{{coc.cid__tid__tid}}]</td>
                        <td>{{coc.cday}}</td>
                        <td>{{coc.ctime}}</td>
                        <td><a href="{% url 'edit_course' coc.id  %}"><input type="submit" value="编辑" class="btn btn-block btn-outline-primary"/></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>数据库实践课小项目
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 0.0.1
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="{%static "plugins/jquery/jquery.min.js" %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{%static "plugins/jquery-ui/jquery-ui.min.js" %}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  {% include "AdminLTE/footer.html" %}
</body>

</html>
